Flask>=3.0.0
flask-cors>=4.0.0
python-dotenv>=1.0.0
firebase-admin>=6.5.0
PySastrawi>=1.2.0
gensim>=4.3.2
scikit-learn>=1.5.0
networkx>=3.3
pandas>=2.2.0
numpy>=1.24.0,<2
python-docx>=1.1.0
python-pptx>=0.6.21
pymupdf>=1.24.0
nltk>=3.8.1
sentence-transformers>=3.0.0
torch==2.5.1+cpu
gunicorn>=21.2.0
bertopic>=0.16.0
umap-learn>=0.5.6
hdbscan>=0.8.33